.page {
  &__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 41px;
    margin-top: 49px;

    @include on-desktop {
      font-size: 42px;
      line-height: 37px;
    }

    @include on-tablet {
      font-size: 36px;
      line-height: 30px;
    }
  }
}
