@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

$font-family-base: 'Space Grotesk', sans-serif;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;
