@import '../../styles/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

.testimonials {
  max-width: $desktop-min-width;
  margin: 0 auto;
  padding: 4rem 5rem;
  text-align: center;

  &__slider-wrapper {
    position: relative;
  }

  &__slider {
    overflow: visible;
  }

  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: 1px solid #D1CFCF;
    width: 68px;
    height: 68px;
    padding-top: 10px;
    border-radius: 50%;
    font-family: "Spinnaker", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #707070;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;

    &:hover {
      background: #808080;
      color: #fff;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
  }

  &__prev {
    left: -78px;
    transform: translateY(-50%) rotate(-90deg);

    @include on-tablet {
      display: none;
    }
  }

  &__next {
    right: -78px;
    transform: translateY(-50%) rotate(90deg);

    @include on-tablet {
      display: none;
    }
  }

  .swiper-pagination {
    margin-top: 1.5rem;
    position: static;
  }

  .swiper-pagination-bullet {
    background: #D9D9D9;
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    transition: background 0.3s;

    &-active {
      background: #4B4B4B;
    }
  }
}

